.modal{
    font-family: Roboto;
}
.modal h5{
    font-size: 0.7em;
    font-weight: 500;
}
.modal h4{
    font-weight: 700;
}
.modal li, p{
    font-size: 0.7em;
}

.modal-dialog {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
